<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://cydiaweb.net63.net/app/app.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hackers.jailbreak</string>
				<key>bundle-version</key>
				<string>8.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>message From Hackers Dev-Team: hello this is a Real jailbreak Program. Once you press install Cydia will install on your home page. This method works from iOS 5.1.1 to iOS 8.2 beta. Also if any problems please contact us at appaddict.x10.mx/help and submit your question we will mind a solution soon. Press install now</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
